html {box-sizing: border-box;}

*, *::before, *::after {box-sizing: inherit;}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {    
    text-decoration: none;    
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #1F2326;
}

.btn {
  padding: 14px 46px;
  display: block;
  font-size: 1.28em;
  font-weight: 600;
  color: #1F2326;
  background-color: #fff;
  outline: 0;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    background-color: #FE5000;
    color: #fff;
  }
}

.container {
  padding: 0 7px;;
  margin: 0 auto;
  max-width: 1320px;
}

.burger, .burger::after, .burger::before  {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all .3s;          
}

.burger::after {
  content: '';
  top: -10px;
}

.burger::before {
  content: '';
  top: 10px;
}

.promo {
  display: block;
}

.label {
  padding: 6px 17px;
  display: inline-block;
  min-width: 95px;  
  font-size: 1.28em;
  font-weight: 600;
  color: #fff;
  background-color: #1F2326;
  text-align: center;
  text-transform: uppercase;
  clip-path: polygon(0 0, 87% 0, 100% 40%, 100% 100%, 13% 100%, 0 65%);

  &--white {
    color: #1F1F1F;
    background-color: #fff;
  }
}

.post-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.date {
  font-size: 1.15em;
  color: #888888;
}

.header {  

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FC5000;
    box-shadow: 0px 0px 2px #000;
  } 

  &__right {
    display: flex;
    align-items: center;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  min-width: 60px;
  margin: 0 3%;
}

.menu {
  display: flex;
  align-items: center;  

  &__item {
    position: relative;

    &:hover > .menu__link{
      color: #FC5000;
      background-color: #fff;
    }
  }

  &__link {
    position: relative;
    padding: 31px 20px;
    display: block;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.25s;

    @media(max-width: 1440px) {
      padding: 31px 10px;
    }
  }

  .has-sub {
    & > .menu__link {
      padding-right: 40px;

      &::after {
        content: '';
        position: absolute;
        top: 46%;
        right: 14%;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;  
        border-top: 6px solid #fff;
      }      
    } 

    &:hover {
      & > .menu__link::after {       
        border-top-color: #FC5000;        
      }

      & > .menu-sub {
        display: block;
      }      
    }
  }

  @media(max-width: 1000px) {
    display: none;
  }
}

.menu-sub {
  padding: 25px 0 20px!important;
  position: absolute;
  display: none;
  background-color: #fff;
  clip-path: polygon(0 0, 90% 0, 100% 8%, 100% 100%, 9% 100%, 0 94%);
  z-index: 9;

  &__link {
    padding: 7px 37px 7px 31px;
    display: block;
    font-weight: 700;
    color: #1F2326;
    text-transform: uppercase;
    transition: color 0.25s;

    &:hover {
      color: #FC5000;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 8px;
    background-color: #1F2326;
  }
}

.menu-mobile {
  display: none;
  width: 50px;
  height: 50px;

  &.active .burger {
    background-color: transparent;
  }

  &.active .burger::after {
    top: 0;
    transform: rotate(-45deg);
  }

  &.active .burger::before {
    top: 0;
    transform: rotate(45deg);
  }

  @media(max-width:1000px) {
    display: block;
  }
}

.search-wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.search {
  margin-left: auto;
  display: flex;

  &__item {
    position: absolute;
    left: 0;
    top: 50%;
    width: 97%;
    height: 100%;
    display: none;
    transform: translateY(-50%);
    background-color: #FC5000;
  }

  &__input {
    width: 100%;   
    font-size: 18px;
    font-weight: 500; 
    color: #fff;
    text-align: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.5;
    transition: opacity 0.2s;

    &::placeholder {
      color: #fff;
    }

    &:focus {
      opacity: 1;
    }
  }

  &__btn {
    padding: 17px;
    margin-right: 25px;
    display: block;        
    background-color: transparent;
    background-image: url('/img/search-ico.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.75;
    }
  }
}


// USER LK
.user-lk {
  padding: 31px;
  display: block;
  width: 206px;
  background-color: red;

  @media(max-width: 1260px) {
    display: none;
  }
}
// END USER LK

.switch-lang {
  position: relative;
  margin-right: 10px;

  &__btn {
    padding: 31px;
    display: block;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    outline: 0;    
    cursor: pointer; 
    transition: all 0.25s;

    @media(max-width: 1440px) {
      padding: 31px 10px;
    }
  }

  .menu-sub {
    max-width: 100%;
  }

  &:hover {
    & > .switch-lang__btn {
      background-color: #fff;
      color: #FC5000;
    }

    & > .menu-sub {
      display: block;
    }
  }
  
}

.big-news {  

  &__link {
    display: flex;
    align-items: center;
    color: #1F1F1F;    

    &:hover {
      .big-news__title {
        color: #FC5000;
      }      
    }
  }

  &__img {
    flex-basis: 65%;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 3% 100%, 0 96%);
  }

  &__description {
    padding: 40px 40px 35px 20px;
    margin-top: 7%;
    flex-basis: 35%;
    background-color: #fff;
    font-size: 16px;
    clip-path: polygon(0 0, 96% 0, 100% 5%, 100% 100%, 0% 100%, 0 100%);
  }

  &__text {
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 1.5em;
    transition: color 0.25s;
  }
}

.orange {
  padding: 20px 0;
  background-color: #FC5000;
}

.news-list {
  display: flex;
  align-items: center;

  &__link {
    display: flex;
    flex-direction: column;
    color: #1F1F1F;

    &:hover {
      .news-list__title {
        color: #FC5000;
      }
    }
  }

  &__img {
    position: relative;
    max-width: 400px;
    z-index: 2;
    clip-path: polygon(96% 0, 100% 7%, 100% 100%, 0% 100%, 0 100%, 0 0);
  }

  &__description {
    padding: 123px 30px 22px 22px;
    margin-left: auto;
    margin-top: -100px;
    max-width: 400px;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 4% 100%, 0 95%);
  }

  &__title {
    margin-bottom: 22px;
    font-size: 1.5em;
    transition: color 0.25s;
  }

}

.match-list {
  
  .col {
    padding: 10px;
    margin-bottom: 0;
  }

  &__link {
    padding: 16px 2px 10px;
    display: block;
    height: 100%;
    color: #1F2326;
    font-size: 18px;
    background-color: #F8F8F8;
    transition: box-shadow 0.25s;

    &:hover {
      box-shadow: 2px 2px 5px 0px #464646;
    }
  }
}

.match-item {  
  clip-path: polygon(0 0, 93% 0, 100% 13%, 100% 100%, 8% 100%, 0 89%);

  .post-meta {
    padding: 10px 20px;

    .date {
      color: #1F2326;
    }    
  }

  &__top {    
    text-align: center;
  }

  &__tournament {
    font-weight: 500;
  }

  &__position {
    font-size: 0.7em;
  }

  &__wrapper {   
    padding-bottom: 25px; 
    min-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #1F2326;
  }

  &__team {
    width: 135px;
    max-width: 135px;
    text-align: center;
  }

  &__img {
    margin: auto;
    margin-bottom: 16px;
  }

  &__name {
    font-weight: 500;
  }

  &__score {
    margin: 0 20px;
    font-size: 1.33em;
    font-weight: 700;
  }
}

.shop-carousel {

  &__item {
    margin-bottom: 0;
    clip-path: polygon(0 0, 93% 0, 100% 13%, 100% 100%, 8% 100%, 0 89%);
  }
  
  &__link {
    padding: 24px 22px 34px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    color: #1F2326;
    text-align: center;
    transition: color 0.25s;

    &--btn {      
      background-image: url('/img/shop-btn.jpg');
      background-repeat: no-repeat;
      background-size: cover;

      .btn {
        margin-top: auto;
      }
    }

    &:hover {
      color: #FC5000;

      & > .shop-carousel__img {
        transform: scale(1.01);
      }
    }
  }

  &__img {
    margin-bottom: 25px;
    transition: transform 0.25s;
  }

  &__name {    
    max-width: 230px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
  }
}

.main-fan {
  color: #fff;
  font-size: 24px;
  font-weight: 700;

  &__wrapper {
    display: flex;
    align-items: flex-start;

    .bold {
      margin: 30px 0 17px;
      font-size: 1.33em;
      font-weight: 800;
      font-style: italic;
      text-transform: uppercase;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
  }

  &__links {
    display: flex;
  }
}


$mr: 20px;
.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + #{$mr});
  margin-left: -$mr/2;
  margin-right: -$mr/2;

  &--2 {
    & > .col {
      width: 50%;     
    }
  }

  &--3 {
    & > .col {
      width: 33.33%;

      @media(max-width: 768px) {
        width: 50%
      }
    }
  }

  &--4 {
    & > .col {
      width: 25%;

      @media(max-width: 1024px) {
        width: 33.33%
      }

      @media(max-width: 768px) {
        width: 50%
      }
    }
  }

  &--6 {
    & > .col {
      width: 16.66%;
    }
  }
}

.col {
  padding: 0 $mr/2;
  margin-bottom: 40px;
}