html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #1F2326;
}

.container {
  padding: 0 7px;
  margin: 0 auto;
  max-width: 1320px;
}

.promo {
  display: block;
}

.label {
  padding: 6px 0;
  width: 95px;
  font-size: 1.28em;
  font-weight: 600;
  color: #fff;
  background-color: #1F2326;
  text-align: center;
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 0, 87% 0, 100% 40%, 100% 100%, 13% 100%, 0 65%);
          clip-path: polygon(0 0, 87% 0, 100% 40%, 100% 100%, 13% 100%, 0 65%);
}

.label--white {
  color: #1F1F1F;
  background-color: #fff;
}

.header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FC5000;
  -webkit-box-shadow: 0px 0px 2px #000;
          box-shadow: 0px 0px 2px #000;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo {
  min-width: 60px;
  margin: 0 3%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
}

.menu__item:hover > .menu__link {
  color: #FC5000;
  background-color: #fff;
}

.menu__link {
  position: relative;
  padding: 31px 20px;
  display: block;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media (max-width: 1440px) {
  .menu__link {
    padding: 31px 10px;
  }
}

.menu .has-sub > .menu__link {
  padding-right: 40px;
}

.menu .has-sub > .menu__link::after {
  content: '';
  position: absolute;
  top: 46%;
  right: 14%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

.menu .has-sub:hover > .menu__link::after {
  border-top-color: #FC5000;
}

.menu .has-sub:hover > .menu-sub {
  display: block;
}

@media (max-width: 1000px) {
  .menu {
    display: none;
  }
}

.menu-sub {
  padding: 25px 0 20px !important;
  position: absolute;
  display: none;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 8%, 100% 100%, 9% 100%, 0 94%);
          clip-path: polygon(0 0, 90% 0, 100% 8%, 100% 100%, 9% 100%, 0 94%);
  z-index: 9;
}

.menu-sub__link {
  padding: 7px 37px 7px 31px;
  display: block;
  font-weight: 700;
  color: #1F2326;
  text-transform: uppercase;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.menu-sub__link:hover {
  color: #FC5000;
}

.menu-sub::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 8px;
  background-color: #1F2326;
}

.menu-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .menu-mobile {
    display: block;
  }
}

.search-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__item {
  position: absolute;
  left: 0;
  top: 50%;
  width: 97%;
  height: 100%;
  display: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #FC5000;
}

.search__input {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.search__input::-webkit-input-placeholder {
  color: #fff;
}

.search__input:-ms-input-placeholder {
  color: #fff;
}

.search__input::-ms-input-placeholder {
  color: #fff;
}

.search__input::placeholder {
  color: #fff;
}

.search__input:focus {
  opacity: 1;
}

.search__btn {
  padding: 17px;
  margin-right: 25px;
  display: block;
  background-color: transparent;
  background-image: url("/img/search-ico.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.search__btn:hover {
  opacity: 0.75;
}

.user-lk {
  padding: 31px;
  display: block;
  width: 206px;
  background-color: red;
}

@media (max-width: 1260px) {
  .user-lk {
    display: none;
  }
}

.switch-lang {
  position: relative;
  margin-right: 10px;
}

.switch-lang__btn {
  padding: 31px;
  display: block;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media (max-width: 1440px) {
  .switch-lang__btn {
    padding: 31px 10px;
  }
}

.switch-lang .menu-sub {
  max-width: 100%;
}

.switch-lang:hover > .switch-lang__btn {
  background-color: #fff;
  color: #FC5000;
}

.switch-lang:hover > .menu-sub {
  display: block;
}

.big-news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1F1F1F;
}

.big-news__link:hover .big-news__title {
  color: #FC5000;
}

.big-news__img {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 3% 100%, 0 96%);
          clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 3% 100%, 0 96%);
}

.big-news__description {
  padding: 40px 40px 35px 20px;
  margin-top: 7%;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  background-color: #fff;
  font-size: 16px;
  -webkit-clip-path: polygon(0 0, 96% 0, 100% 5%, 100% 100%, 0% 100%, 0 100%);
          clip-path: polygon(0 0, 96% 0, 100% 5%, 100% 100%, 0% 100%, 0 100%);
}

.big-news__text {
  margin-bottom: 50px;
}

.big-news__title {
  margin-bottom: 20px;
  font-size: 1.5em;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-list__item {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}

.news-list__link {
  color: #1F1F1F;
}

.news-list__link:hover .list-news__title {
  color: #FC5000;
}

.news-list__description {
  background-color: #fff;
}

.news-list__title {
  font-size: 1.5em;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
/*# sourceMappingURL=style.css.map */