html {box-sizing: border-box;}

*, *::before, *::after {box-sizing: inherit;}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {    
    text-decoration: none;    
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #1F2326;

  &.no-scroll {
    overflow: hidden;
  }
}

h1 {
  margin-bottom: 22px;
  font-size: 1.71em;
  font-weight: 700;
  color: #fff;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.28em;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.btn {
  padding: 14px 46px;
  display: block;
  font-size: 1.28em;
  font-weight: 600;
  color: #1F2326;
  background-color: #fff;
  outline: 0;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    background-color: #FE5000;
    color: #fff;
  }
}

.container {
  padding: 0 7px;
  margin: 0 auto;
  max-width: 1320px;

  @media(max-width: 1024px) {
    padding: 0 23px;
  }
}

.burger, .burger::after, .burger::before  {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all .3s;          
}

.burger::after {
  content: '';
  top: -10px;
}

.burger::before {
  content: '';
  top: 10px;
}

.promo {
  position: relative;
  display: block;
  z-index: 40;
  overflow: hidden;

  &--center {
    margin-bottom: 40px;

    img {
      margin: 0 auto;
      
      @media(max-width: 800px) {
        max-width: none;
        transform: translateX(-22%);
      }

      @media(max-width: 550px) {
        max-width: none;
        transform: translateX(0);
      }
    }
  }

  &__link {
    display: block;
  }
}

.label {
  padding: 6px 17px;
  display: inline-block;
  min-width: 95px;  
  font-size: 1.28em;
  font-weight: 600;
  color: #fff;
  background-color: #1F2326;
  text-align: center;
  text-transform: uppercase;
  clip-path: polygon(0 0, 87% 0, 100% 40%, 100% 100%, 13% 100%, 0 65%);

  &--white {
    color: #1F1F1F;
    background-color: #fff;
  }
}

.post-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.date {
  font-size: 18px;
  color: #888888;
}

.filter-post {
  position: relative;
  margin-bottom: 30px;

  &__btn {
    padding: 4px 17px;
    min-height: 36px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
    clip-path: polygon(0 0, 96% 0, 100% 27%, 100% 100%, 5% 100%, 0 80%);

    img {
      margin-right: 10px;
    }

    &::after {
      content: '';
      margin-left: 15px;
      display: block;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #000 transparent transparent transparent;
    }
  }

  .filter-count {
    padding: 3px;
    display: none;
    margin-left: 10px;
    color: #fff;
    background-color: #FC5000;

    i {
      font-style: normal;
    }
  }

  .show {
    display: block;
  }

  &__form {
    position: absolute;
    top: 100%;    
    left: 20px;
    padding: 20px 0px 12px;
    margin-top: 4px;
    width: 270px;
    display: none;
    background-color: #fff;
    text-align: center;
    z-index: 3;
    clip-path: polygon(0 0, 96% 0, 100% 4%, 100% 100%, 5% 100%, 0 96%);    
  }

  &__option {
    padding-left: 40px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
    }
  } 

  &__label {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: -53px;
      top: 2px;
      width: 16px;
      height: 15px;
      border: 1px solid #FC5000;      
    }

    &::after {
      content: '';
      position: absolute;
      left: -50px;
      top: 5px;
      width: 10px;
      height: 9px;
      background-color: #FC5000;
      transform: scale(0);
      transition: transform .18s;
    }

    &--text::before {
      left: -24px;
    }

    &--text::after {
      left: -21px;
    }
  }

  &__input:checked + label {
    color: #FC5000;
    &::after {
      transform: scale(1);
    }
  }

  &__reset {
    color: #FC5000;
    font-size: 16px;
    outline: none;
    border: 0;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.header {

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FC5000;
    box-shadow: 0px 0px 2px #000;
  } 

  &__right {
    display: flex;
    align-items: center;
  }

  @media(max-width: 1000px) {
    &.menu-bg::after {
      content: '';
      position: fixed;
      width: 100%;
      height: 100%;
      background: #1F2326;
      z-index: 15;
    }
  }
}

.main-nav {
  display: flex;
  align-items: center;
  flex: 1;

  @media(max-width: 1000px) {
    position: relative;    
    height: 80px;
  }

  @media(max-width: 768px) {
    height: 50px;
  }
}

.logo { 

  &--header {
    min-width: 60px;
    margin: 0 3%;
    
    @media(max-width: 1000px) {
      position: absolute;
      left: 50%;      
      margin: 0;
      transform: translateX(-50%);
      z-index: 9;
    }

    @media(max-width: 768px) {
      min-width: 40px;
      max-width: 40px;
    }
  }
}

.menu {
  display: flex;
  align-items: center;  

  &__item {
    position: relative;

    &:hover > .menu__link{
      color: #FC5000;
      background-color: #fff;
    }

    @media(max-width: 1000px) {
      width: 100%;
    }
  }

  &__link {
    position: relative;
    padding: 31px 20px;
    display: block;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.25s;

    @media(max-width: 1440px) {
      padding: 31px 10px;
    }

    @media(max-width: 1000px) {
      padding: 10px 25px;
      color: #0B0D0E;
    }
  }

  .has-sub {
    & > .menu__link {
      padding-right: 40px;

      &::after {
        content: '';
        position: absolute;
        top: 46%;
        right: 14%;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;  
        border-top: 6px solid #fff;

        @media(max-width: 1000px) {
          top: 38%;
          right: 34%;
          border-top-color: #0B0D0E;
        }
      }      
    } 

    &:hover {
      & > .menu__link::after {       
        border-top-color: #FC5000;        
      }

      & > .menu-sub {
        display: block;
      }      
    }
  }

  @media(max-width: 1000px) {
    position: absolute;
    top: 100%;
    left: -100%;
    padding: 25px 0!important;
    width: 55%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFFFFF;
    z-index: 20;
    transition: left 0.3s;

    &.active {
      left: 0;
    }
  }

  
}

.menu-sub {
  padding: 25px 0 20px!important;
  position: absolute;
  display: none;
  background-color: #fff;
  clip-path: polygon(0 0, 90% 0, 100% 8%, 100% 100%, 9% 100%, 0 94%);
  z-index: 9;

  &__link {
    padding: 7px 37px 7px 31px;
    display: block;
    font-weight: 700;
    color: #1F2326;
    text-transform: uppercase;
    transition: color 0.25s;

    &:hover {
      color: #FC5000;
    }

    @media(max-width: 1000px) {
      padding: 7px 37px 7px 42px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 8px;
    background-color: #1F2326;

    @media(max-width: 1000px) {     
      display: none;      
    }
  }

  @media(max-width: 1000px) {
    position: relative;
    padding: 0!important;
    margin-bottom: 8px;
    width: 100%;
    background-color: #EAEAEA;  
    clip-path: none;
  }
}

.menu-mobile {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;

  &.active .burger {
    background-color: transparent;
  }

  &.active .burger::after {
    top: 0;
    transform: rotate(-45deg);
  }

  &.active .burger::before {
    top: 0;
    transform: rotate(45deg);
  }

  @media(max-width:1000px) {
    margin-left: 25px;
    display: block;
  }
}

.search-wrapper {
  position: relative;
  width: 100%;
  display: flex;

  @media(max-width: 1000px) {
    height: 100%;
    align-items: center;    
  }
}

.search {
  margin-left: auto;
  display: flex;

  &__item {
    position: absolute;
    left: 0;
    top: -50%;
    width: 100%;
    height: 100%;
    display: block;
    transform: translateY(-50%);
    background-color: #FC5000;
    z-index: 10;
    transition: top 0.2s linear;

    &.active {
      top: 50%;
    }

    @media(max-width: 1000px) {
      height: 80px;
    }

    @media(max-width: 768px) {
      height: 50px;
    }
  }

  &__input {
    width: 100%;   
    height: 100%;
    font-size: 18px;
    font-weight: 500; 
    color: #fff;
    text-align: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.5;
    transition: opacity 0.2s;

    &::placeholder {
      color: #fff;
    }

    &:focus {
      opacity: 1;
    }    
  }

  &__btn {
    position: relative;
    padding: 17px;
    margin-right: 25px;
    display: block;        
    background-color: transparent;
    background-image: url('/img/search-ico.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    outline: 0;
    cursor: pointer;
    z-index: 11;
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.75;
    }
  }
}


// USER LK
.user-lk {
  padding: 31px;
  display: block;
  width: 206px;
  background-color: red;

  @media(max-width: 1260px) {
    display: none;
  }
}
// END USER LK

.switch-lang {
  position: relative;
  margin-right: 10px;

  &__btn {
    padding: 31px;
    display: block;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    outline: 0;    
    cursor: pointer; 
    transition: all 0.25s;

    @media(max-width: 1440px) {
      padding: 31px 10px;
    }
  }

  .menu-sub {
    max-width: 100%;
  }

  &:hover {
    & > .switch-lang__btn {
      background-color: #fff;
      color: #FC5000;
    }

    & > .menu-sub {
      display: block;
    }
  }

  @media(max-width:1000px) {
    display: none;
  }
  
}

.big-news {
  padding-top: 70px;
  margin-bottom: 40px;

  .post-meta {
    @media(max-width: 850px) {
      display: none;
    }
  }

  .label {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    color: #1F1F1F;    

    &:hover {
      .big-news__title {
        color: #FC5000;
      }      
    }

    @media(max-width: 950px) {
      align-items: stretch;
    }
  }

  &__img {
    position: relative;
    flex-basis: 65%;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 3% 100%, 0 96%);

    @media(max-width: 950px) {
      flex-basis: 50%;
    }
  }

  &__description {
    padding: 40px 40px 35px 20px;
    margin-top: 7%;
    flex-basis: 35%;
    background-color: #fff;
    clip-path: polygon(0 0, 96% 0, 100% 5%, 100% 100%, 0% 100%, 0 100%);

    @media(max-width: 1040px) {
      margin-top: 5%;
    }

    @media(max-width: 950px) {
      padding: 20px 30px 22px 20px;
      margin-top: 0;
      flex-basis: 50%;
    }
  }

  &__text {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;

    @media(max-width: 1040px) {
      margin-bottom: 20px;
    }

    @media(max-width: 768px) {
      font-size: 14px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 1.5em;
    transition: color 0.25s;    

    @media(max-width: 1040px) {
      margin-bottom: 13px;
      font-size: 1.2em;
    }
  }
}

.orange {
  padding: 20px 0;
  background-color: #FC5000;
}

.news-list {
  display: flex;
  align-items: center;

  &__link {
    display: flex;
    flex-direction: column;
    color: #1F1F1F;

    &:hover {
      .news-list__title {
        color: #FC5000;
      }
    }
  }

  &__img {
    position: relative;
    max-width: 400px;
    z-index: 2;
    clip-path: polygon(96% 0, 100% 7%, 100% 100%, 0% 100%, 0 100%, 0 0);
  }

  &__description {
    padding: 123px 30px 22px 22px;
    margin-left: auto;
    margin-top: -100px;
    max-width: 400px;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 4% 100%, 0 95%);
  }

  &__title {
    margin-bottom: 22px;
    font-size: 24px;
    transition: color 0.25s;

    @media(max-width: 1024px) {
      font-size: 20px;
    }
  }

}

.main-matches {
  
  .col {
    padding: 10px;
    margin-bottom: 0;
  }

  &__link {
    padding: 16px 2px 10px;
    display: block;
    height: 100%;
    color: #1F2326;
    font-size: 18px;
    background-color: #F8F8F8;
    transition: box-shadow 0.25s;

    &:hover {
      box-shadow: 2px 2px 5px 0px #464646;
    }
  }
}

.main-matches-item {
  clip-path: polygon(0 0, 93% 0, 100% 13%, 100% 100%, 8% 100%, 0 89%);

  .post-meta {
    padding: 10px 20px;

    .date {     
      font-weight: 500;
      color: #1F2326;
    }    
  }

  &__top {    
    text-align: center;
  }

  &__tournament {
    font-weight: 500;
  }

  &__position {
    font-size: 0.7em;
    text-transform: uppercase;
  }

  &__wrapper {   
    padding-bottom: 25px; 
    min-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #1F2326;
  }

  &__team {
    width: 135px;
    max-width: 135px;
    text-align: center;
  }

  &__img {
    margin: auto;
    margin-bottom: 16px;
  }

  &__name {
    font-weight: 500;
  }

  &__score {
    position: relative;
    margin: 0 20px;
    min-width: 47px;
    font-size: 1.33em;
    font-weight: 700;
    text-align: center;

    .live-label {
      position: absolute;
      left: -5px;
      z-index: 5;
    }
  }
}

.shop-carousel {

  &__item {
    margin-bottom: 0;
    clip-path: polygon(0 0, 93% 0, 100% 13%, 100% 100%, 8% 100%, 0 89%);
  }
  
  &__link {
    padding: 24px 22px 34px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    color: #1F2326;
    text-align: center;
    transition: color 0.25s;

    &--btn {      
      background-image: url('/img/shop-btn.jpg');
      background-repeat: no-repeat;
      background-size: cover;

      .btn {
        margin-top: auto;
      }
    }

    &:hover {
      color: #FC5000;

      & > .shop-carousel__img {
        transform: scale(1.01);
      }
    }
  }

  &__img {
    margin-bottom: 25px;
    transition: transform 0.25s;
  }

  &__name {    
    max-width: 230px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
  }
}

.main-fan {
  padding: 112px 0 100px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;

  &__wrapper {
    margin: 0 auto;
    max-width: 1080px;    
    display: flex;
    align-items: flex-start;

    .bold {
      margin: 30px 0 17px;
      font-size: 1.33em;
      font-weight: 800;
      font-style: italic;
      text-transform: uppercase;
    }
  }

  &__left {
    max-width: 638px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
  }

  &__links {
    display: flex;

    a {
      margin-right: 20px;
    }
  }
}

.live-label {
  padding: 1px 9px;  
  margin-top: 12px;
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #FC5000;
  border-radius: 20px;
}

.matches {
  margin-bottom: 70px;

  &__item {
    margin-bottom: 20px;
    clip-path: polygon(0 0, 99% 0, 100% 10%, 100% 100%, 1% 100%, 0 90%);

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__link {
    padding: 20px 15% 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1F2326;
    background-color: #fff;

    .post-meta {
      flex-direction: column;

      .date {
        margin-top: 15px;
        font-weight: 500;
        color: #1F2326;
      }
    }

    @media(max-width: 880px) {
      padding: 20px 3% 20px 20px;
    }

    @media(max-width: 570px) {
      flex-direction: column-reverse;
    }
  }

  &__versus {
    display: flex;
    align-items: center;

    .score {
      position: relative;
      margin:0 30px;
      width: 37px;
      font-size: 18px;
      font-weight: 700;
      text-align: center;

      .live-label {
        position: absolute;
        lefT: -10px;
        margin-top: 3px;
      }
    }

    .matches__team:nth-of-type(1) {
      .team-name {margin-right: 15px;}
    }

    .matches__team:nth-of-type(2) {
      flex-direction: row-reverse;
      .team-name {margin-left: 15px;}
    }
  }

  &__team {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;

    .team-name {      
      max-width: 100px;

      @media(max-width: 880px) {
        margin: 5px 0 0!important;
        text-align: center;
      }
    }

    .team-logo {
      width: 40px;
    }

    @media(max-width: 880px) {
      flex-direction: column-reverse!important;
    }
  }

  &__info {
    font-size: 16px;
    font-weight: 500;

    .stage {
      margin-top: 11px;
      font-size: 0.75em;
      text-transform: uppercase;
    }

    @media(max-width: 880px) {
      font-size: 14px;
      text-align: right;
    }
  }
}


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &__nav {
    padding: 0;
    border-style: solid;     
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    transition: border-color 0.2s;

    &.left {
      margin-right: 20px;
      border-width: 9px 15.6px 9px 0;
      border-color: transparent #fff transparent transparent;

      &:hover {
        border-color: transparent #FC5000 transparent transparent;
      }
    }

    &.right {
      margin-left: 20px;
      border-width: 9px 0 9px 15.6px;
      border-color: transparent transparent transparent #fff;
      
      &:hover {
        border-color: transparent transparent transparent #FC5000;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin: 0 7px;
    clip-path: polygon(0 0, 79% 0, 100% 13%, 100% 100%, 0% 100%, 0 100%);

    &.active > .pagination__link {
      background-color: #fff;
      color: #1F2326;
    }
  }

  &__link {
    padding: 15px 17px;
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    transition: background-color 0.25s;

    &:hover {
      background-color: #FE5000;
    }
  }
}

.match-detail {
  position: relative;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #fff; 
  
  .label {
    position: absolute;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 530px;
    font-size: 18px;
    font-weight: 700;
  }

  &__title,
  &__tournament {
    font-size: 1.33em;
    text-align: center;
  }

  &__tournament {
    margin: 10px 0 35px;
  }

  &__mid {
    margin: 0 55px;
  }

  &__score {
    font-size: 2.33em;
    text-align: center;
  }

  &__versus {
    padding-bottom: 38px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #1F2326;
  }

  &__team-logo {
    margin: 0 auto 17px auto;
  }

  &__players {  
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .half {
      margin: 0 20px;
    }

    li {
      padding: 5px 0;
      max-width: 250px;
      font-size: 12px;
      font-weight: 400;
    }
  }
}


.awards {
  margin-bottom: 40px;

  &__item {
    padding: 15px 35px 15px 20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;    

    font-size: 16px;
    font-weight: 500;
    background-color: #fff;

    clip-path: polygon(0 0, 99% 0, 100% 16%, 100% 100%, 1% 100%, 0 84%);

    &:last-child {
      margin-bottom: 0;
    }

    &--first {
      padding: 5px 35px 5px 20px;
      background-color: transparent;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .label {
    max-width: 170px;
    font-size: 18px;    
  }

  &__logo {
    margin-right: 30px;
    max-width: 40px;
  }

  &__rate {
    margin: 0 30px;
    width: 57px;    
    text-align: center;

    b {
      font-size: 1.12em;    
    }

    span {
      display: none;
    }
  }

  &__game {
    width: 170px;
    text-align: center;
  }

  &__tournament {
    width: 217px;
  }

  &__place {
    margin: 0 60px;
    width: 165px;

    @media(max-width: 1024px) {
      display: none;
    }
  }

  &__date {
    width: 170px;
  }

  &__money {
    width: 128px;
    margin-left: auto;
  }
}

.sort {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &::after {
    content: ''; 
    margin-left: 5px;   
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #ffffff transparent transparent transparent;
    transition: transform 0.25s;
  }

  &.active::after {
    transform: rotate(-180deg);
  }
}

.inner-up {
  padding: 30px 40px 40px;
  margin-bottom: 40px;
  font-size: 18px;
  background-color: #fff;
  clip-path: polygon(0 0, 99% 0, 100% 5%, 100% 100%, 1% 100%, 0 95%);

  h1 {
    margin-bottom: 0;
    margin-left: 24px;
    color: #1F2326;
    font-size: 2.66em;
    text-transform: uppercase;
  }

  &__title {    
    display: flex;
    align-items: center;

    img {
      max-width: 60px;
    }
  }

  &__text {
    margin-top: 22px;
    max-width: 600px;
    line-height: 28px;
  }
}

.players {

  

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 18px;
    color: #fff;

    &:hover > .players__img{
      box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.4);
    }
  }

  &__role {
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__name {
    margin-bottom: 15px;
    font-size: 1.33em;
    font-weight: 700;
  }

  &__img {
    min-height: 388px;
    padding-top: 34px;
    height: 100%;    
    background-color: #F8F8F8;
    transition: box-shadow 0.25s;

    img {
      margin: 0 auto -1px;
    }

    &.no-photo {      
      background-image: url('/img/no-photo-player.png');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
    }

    @media (max-width: 1024px) {
      min-height: 283px;
    }
  }
}

.tabs {

  &-nav {
    display: flex;
    align-items: center;

    &__btn {
      padding: 6px 28px;
      margin-right: 30px;
      font-size: 18px;
      font-weight: 600;
      background-color: #8a8a8a;
      text-transform: uppercase;
      text-align: center;
      border: 0;
      outline: 0;      
      cursor: pointer;
      clip-path: polygon(0 0, 87% 0, 100% 40%, 100% 100%, 13% 100%, 0 65%);
      transition: all 0.2s;

      &:hover {
        background-color: #fff;
      }

      &.active {
        background-color: #fff;
      }

      @media(max-width: 570px) {
        padding: 6px 20px;
        margin-right: 20px;
        font-size: 14px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__content {
    padding: 30px 0;
    display: none;

    &.active {
      display: block;
    }
  }
}

.player-detail {
  padding: 24px 30px 0 18px;
  margin-bottom: 40px;
  display: flex;
  background-color: #F8F8F8;
  font-size: 18px;

  &__img {
    width: 24%;
  }

  &__info {
    padding: 0 0 30px 30px;
    width: 76%;
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nickname {
    font-size: 2.66em;
    color: #1F2326;
  }

  &__line {
    margin-bottom: 15px;

    span {
      font-weight: 500;
    }
  }

  &__social {
    display: flex;
    align-items: center;

    a {
      margin-right: 15px;
      border: 2px solid transparent;
      border-radius: 50%;
      transition: border-color 0.25s;

      &:hover {
        border-color: black;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__config {    
    padding: 6px 16px 6px 35px;
    color: #fff;
    font-weight: 600;
    background-color: #1F2326;
    background-image: url('/img/config-ico.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    text-transform: uppercase;
    transition: background-color 0.25s;

    &:hover {
      background-color: #FC5000;
    }
  }
}

.team-list {

  &__item.col {
    padding: 10px;
    margin-bottom: 0px;
  }

  &__item {
    clip-path: polygon(0 0, 93% 0, 100% 18%, 100% 100%, 9% 100%, 0 85%);
  }

  &__link {
    padding: 25px;
    display: block;
    color: #1F2326;
    background-color: #F8F8F8;
    transition: box-shadow 0.25s;

    &:hover {
      box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.4);
    }
  }

  &__title {    
    font-size: 48px;
    text-transform: uppercase;

    @media(max-width: 1100px) {
      font-size: 33px;
    }
  }

  &__img {
    margin-bottom: 10px;

    @media(max-width: 1100px) {
      max-width: 40px;
    }
  }
}

.crew { 

  &__item { 
    display: flex;   
    font-size: 18px;
    line-height: 24px;
    color: #fff;

    @media(max-width: 880px) {
      flex-direction: column;
      text-align: center;
      font-size: 14px;
    }
  }

  &__img {
    margin-right: 18px;   

    img {     
      max-width: 200px;
      clip-path: polygon(0 0, 93% 0, 100% 4%, 100% 100%, 0% 100%, 0 100%);

      @media(max-width: 880px) {
        margin: 0 auto;
        max-width: 180px; 
        width: 180px;       
      }
    }

    @media(max-width: 880px) {
      max-height: 180px;
      overflow: hidden;
    }
  }

  &__info {
    padding: 20px 0;
  }

  &__name {
    margin-bottom: 20px;
    font-size: 1.33em;
    font-weight: 700;

    @media(max-width: 880px) {
      margin-bottom: 10px;
    }
  }

  &__status {
    margin-bottom: 20px;
    font-weight: 600;

    @media(max-width: 880px) {
      margin-bottom: 10px;
    }
  }
}

.content {
  padding: 40px 0;
  min-height: 650px;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;

  .container {
    max-width: 984px;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 1.33em;
  }

  h2, h3 {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 1em;
    font-weight: 600;
  }

  p:not([class]) {
    margin-bottom: 20px;
  }
  
  ul:not([class]) {

  }

  a:not([class]) {
    color: #fff;
    border-bottom: 1px solid;
    transition: border-color 0.25s;

    &:hover {
      border-color: transparent;
    }
  }

  &__bottom {
    margin: 40px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .date {
      margin-left: 25px;
      color: #fff;
      font-weight: 600;
    }
  }

  @media(max-width: 550px) {
    font-size: 14px;
  }
  
}

.share {
  position: relative;
  padding: 5px 18px;
  background-color: #fff;
  line-height: 0;
  outline: 0;
  bordeR: 0;
  cursor: pointer;
  clip-path: polygon(0 0, 80% 0, 100% 45%, 100% 100%, 21% 100%, 0 57%);
  transition: background-color 0.25s;

  svg > path {
    transition: fill 0.25s;
  }

  &:hover, &.active {
    background-color: #FC5000;

    svg > path{
      fill: #fff;
    }
  }
}

.vacancy {

  &__item.col {
    padding: 10px;
    clip-path: polygon(0 0, 93% 0, 100% 18%, 100% 100%, 9% 100%, 0 85%);
  }

  .date {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-bottom: 0;
    font-size: 16px;
  }

  &__name {
    font-size: 24px;
  }

  &__link {
    position: relative;
    padding: 23px 20px 20px 23px;
    min-height: 168px;
    display: block;
    background-color: #fff;
    color: #1F1F1F;
    transition: box-shadow 0.25s;

    &:hover {
      box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.4);
    }
  }
}

.partners {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #888888;

  &__item {
    margin: 0 3% 50px 3%;    
    display: block;

    &--big {
      margin: 0 0 50px;
      width: 33%;
    }
  }

  &__link {
    display: block;
    filter: grayscale(1);
    transition: filter 0.25s;

    img {
      margin: 0 auto;
    }

    &:hover {
      filter: grayscale(0);
    }
  }  
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 60px;
    width: 25%;

    @media(max-width: 800px) {
      margin: 0 10px 25px;
      width: auto;
    }
  }

  &__link {
    margin: 0 auto;
    max-width: 187px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;   
    border-radius: 50px;
    transition: box-shadow 0.25s;

    img {
      margin-right: 18px;
    }    

    &--fb {
      background-color: rgba(59, 89, 152, 0.6);      
    }

    &--vk {
      background-color: rgba(76, 108, 145, 0.6);
    }

    &--youtube {
      background-color: rgba(255, 0, 0, 0.6);
    }

    &--in {
      background-color: rgba(255, 255, 255, 0.6);
    }

    &--tw {
      background-color: rgba(85, 172, 238, 0.6);
    }

    &--tg {
      background-color:rgba(40, 159, 210, 0.5);
    }

    &--tt {
      background-color: rgba(22, 23, 34, 0.5);
    }

    &:hover {
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
    }

    @media(max-width: 800px) {
      max-width: 36px;
      font-size: 0;
    }
  }
}

.footer {
  padding-bottom: 60px;
  font-size: 16px;
  color: #888888;

  .container {
    max-width: 1080px;  
  }

  &__text,
  &__copyright {
    margin-bottom: 16px;

    a {
      color: #888888;
      border-bottom: 1px solid;
      transition: border-color 0.25s;

      &:hover {
        border-color: transparent;
      }
    }

    text-align: center;
  }
}
////////////////////////////////////////////////////////////////////////////////

$mr: 20px;
.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + #{$mr});
  margin-left: -$mr/2;
  margin-right: -$mr/2;

  &--2 {
    & > .col {
      width: 50%;  
      
      @media(max-width: 460px) {
        width: 100%
      }
    }    
  }

  &--3 {
    & > .col {
      width: 33.33%;

      @media(max-width: 768px) {
        width: 50%
      }

      @media(max-width: 550px) {
        width: 100%
      }
    }
  }

  &--4 {
    & > .col {
      width: 25%;

      @media(max-width: 1024px) {
        width: 33.33%
      }

      @media(max-width: 768px) {
        width: 50%
      }
    }
  }

  &--6 {
    & > .col {
      width: 16.66%;
    }
  }
}

.col {
  padding: 0 $mr/2;
  margin-bottom: 40px;
}


.test {
  padding: 50px 0;

  &__half {
    margin: 0 auto;
    max-width: 970px;
  }
}