html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #1F2326;
}

body.no-scroll {
  overflow: hidden;
}

h1 {
  margin-bottom: 22px;
  font-size: 1.71em;
  font-weight: 700;
  color: #fff;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.28em;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.btn {
  padding: 14px 46px;
  display: block;
  font-size: 1.28em;
  font-weight: 600;
  color: #1F2326;
  background-color: #fff;
  outline: 0;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.btn:hover {
  background-color: #FE5000;
  color: #fff;
}

.container {
  padding: 0 7px;
  margin: 0 auto;
  max-width: 1320px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 23px;
  }
}

.burger, .burger::after, .burger::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.burger::after {
  content: '';
  top: -10px;
}

.burger::before {
  content: '';
  top: 10px;
}

.promo {
  position: relative;
  display: block;
  z-index: 40;
}

.promo--center {
  margin-bottom: 40px;
}

.label {
  padding: 6px 17px;
  display: inline-block;
  min-width: 95px;
  font-size: 1.28em;
  font-weight: 600;
  color: #fff;
  background-color: #1F2326;
  text-align: center;
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 0, 87% 0, 100% 40%, 100% 100%, 13% 100%, 0 65%);
          clip-path: polygon(0 0, 87% 0, 100% 40%, 100% 100%, 13% 100%, 0 65%);
}

.label--white {
  color: #1F1F1F;
  background-color: #fff;
}

.post-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.date {
  font-size: 1.15em;
  color: #888888;
}

.filter-post {
  position: relative;
  margin-bottom: 30px;
}

.filter-post__btn {
  padding: 4px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-clip-path: polygon(0 0, 96% 0, 100% 27%, 100% 100%, 5% 100%, 0 80%);
          clip-path: polygon(0 0, 96% 0, 100% 27%, 100% 100%, 5% 100%, 0 80%);
}

.filter-post__btn img {
  margin-right: 10px;
}

.filter-post__btn::after {
  content: '';
  margin-left: 15px;
  display: block;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
}

.filter-post .filter-count {
  padding: 3px;
  margin-left: 10px;
  color: #fff;
  background-color: #FC5000;
}

.filter-post__form {
  position: absolute;
  top: 100%;
  left: 20px;
  padding: 20px 0px 12px;
  margin-top: 4px;
  width: 270px;
  display: none;
  background-color: #fff;
  z-index: 3;
}

.filter-post__form.active {
  display: block;
}

.filter-post__option {
  padding-left: 40px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-post__option img {
  margin-right: 5px;
}

.filter-post__label {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-post__label::before {
  content: '';
  position: absolute;
  left: -53px;
  top: 2px;
  width: 16px;
  height: 15px;
  border: 1px solid #FC5000;
}

.filter-post__label::after {
  content: '';
  position: absolute;
  left: -50px;
  top: 5px;
  width: 10px;
  height: 9px;
  background-color: #FC5000;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .18s;
  transition: -webkit-transform .18s;
  transition: transform .18s;
  transition: transform .18s, -webkit-transform .18s;
}

.filter-post__label--text::before {
  left: -24px;
}

.filter-post__label--text::after {
  left: -21px;
}

.filter-post__input:checked + label {
  color: #FC5000;
}

.filter-post__input:checked + label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.filter-post__reset {
  color: #FC5000;
  font-size: 16px;
  outline: none;
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FC5000;
  -webkit-box-shadow: 0px 0px 2px #000;
          box-shadow: 0px 0px 2px #000;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .header.menu-bg::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1F2326;
    z-index: 15;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1000px) {
  .main-nav {
    position: relative;
    height: 80px;
  }
}

@media (max-width: 768px) {
  .main-nav {
    height: 50px;
  }
}

.logo--header {
  min-width: 60px;
  margin: 0 3%;
}

@media (max-width: 1000px) {
  .logo--header {
    position: absolute;
    left: 50%;
    margin: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 9;
  }
}

@media (max-width: 768px) {
  .logo--header {
    min-width: 40px;
    max-width: 40px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
}

.menu__item:hover > .menu__link {
  color: #FC5000;
  background-color: #fff;
}

@media (max-width: 1000px) {
  .menu__item {
    width: 100%;
  }
}

.menu__link {
  position: relative;
  padding: 31px 20px;
  display: block;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media (max-width: 1440px) {
  .menu__link {
    padding: 31px 10px;
  }
}

@media (max-width: 1000px) {
  .menu__link {
    padding: 10px 25px;
    color: #0B0D0E;
  }
}

.menu .has-sub > .menu__link {
  padding-right: 40px;
}

.menu .has-sub > .menu__link::after {
  content: '';
  position: absolute;
  top: 46%;
  right: 14%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

@media (max-width: 1000px) {
  .menu .has-sub > .menu__link::after {
    top: 38%;
    right: 34%;
    border-top-color: #0B0D0E;
  }
}

.menu .has-sub:hover > .menu__link::after {
  border-top-color: #FC5000;
}

.menu .has-sub:hover > .menu-sub {
  display: block;
}

@media (max-width: 1000px) {
  .menu {
    position: absolute;
    top: 100%;
    left: -100%;
    padding: 25px 0 !important;
    width: 55%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #FFFFFF;
    z-index: 20;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu.active {
    left: 0;
  }
}

.menu-sub {
  padding: 25px 0 20px !important;
  position: absolute;
  display: none;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 8%, 100% 100%, 9% 100%, 0 94%);
          clip-path: polygon(0 0, 90% 0, 100% 8%, 100% 100%, 9% 100%, 0 94%);
  z-index: 9;
}

.menu-sub__link {
  padding: 7px 37px 7px 31px;
  display: block;
  font-weight: 700;
  color: #1F2326;
  text-transform: uppercase;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.menu-sub__link:hover {
  color: #FC5000;
}

@media (max-width: 1000px) {
  .menu-sub__link {
    padding: 7px 37px 7px 42px;
  }
}

.menu-sub::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 8px;
  background-color: #1F2326;
}

@media (max-width: 1000px) {
  .menu-sub::before {
    display: none;
  }
}

@media (max-width: 1000px) {
  .menu-sub {
    position: relative;
    padding: 0 !important;
    margin-bottom: 8px;
    width: 100%;
    background-color: #EAEAEA;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.menu-mobile {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.menu-mobile.active .burger {
  background-color: transparent;
}

.menu-mobile.active .burger::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-mobile.active .burger::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 1000px) {
  .menu-mobile {
    margin-left: 25px;
    display: block;
  }
}

.search-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .search-wrapper {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.search {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__item {
  position: absolute;
  left: 0;
  top: -50%;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #FC5000;
  z-index: 10;
  -webkit-transition: top 0.2s linear;
  transition: top 0.2s linear;
}

.search__item.active {
  top: 50%;
}

@media (max-width: 1000px) {
  .search__item {
    height: 80px;
  }
}

@media (max-width: 768px) {
  .search__item {
    height: 50px;
  }
}

.search__input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.search__input::-webkit-input-placeholder {
  color: #fff;
}

.search__input:-ms-input-placeholder {
  color: #fff;
}

.search__input::-ms-input-placeholder {
  color: #fff;
}

.search__input::placeholder {
  color: #fff;
}

.search__input:focus {
  opacity: 1;
}

.search__btn {
  position: relative;
  padding: 17px;
  margin-right: 25px;
  display: block;
  background-color: transparent;
  background-image: url("/img/search-ico.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  outline: 0;
  cursor: pointer;
  z-index: 11;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.search__btn:hover {
  opacity: 0.75;
}

.user-lk {
  padding: 31px;
  display: block;
  width: 206px;
  background-color: red;
}

@media (max-width: 1260px) {
  .user-lk {
    display: none;
  }
}

.switch-lang {
  position: relative;
  margin-right: 10px;
}

.switch-lang__btn {
  padding: 31px;
  display: block;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media (max-width: 1440px) {
  .switch-lang__btn {
    padding: 31px 10px;
  }
}

.switch-lang .menu-sub {
  max-width: 100%;
}

.switch-lang:hover > .switch-lang__btn {
  background-color: #fff;
  color: #FC5000;
}

.switch-lang:hover > .menu-sub {
  display: block;
}

@media (max-width: 1000px) {
  .switch-lang {
    display: none;
  }
}

.big-news {
  padding-top: 70px;
  margin-bottom: 40px;
}

@media (max-width: 850px) {
  .big-news .post-meta {
    display: none;
  }
}

.big-news .label {
  position: absolute;
  right: 20px;
  top: 20px;
}

.big-news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1F1F1F;
}

.big-news__link:hover .big-news__title {
  color: #FC5000;
}

@media (max-width: 950px) {
  .big-news__link {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.big-news__img {
  position: relative;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 3% 100%, 0 96%);
          clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 3% 100%, 0 96%);
}

@media (max-width: 950px) {
  .big-news__img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.big-news__description {
  padding: 40px 40px 35px 20px;
  margin-top: 7%;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 96% 0, 100% 5%, 100% 100%, 0% 100%, 0 100%);
          clip-path: polygon(0 0, 96% 0, 100% 5%, 100% 100%, 0% 100%, 0 100%);
}

@media (max-width: 1040px) {
  .big-news__description {
    margin-top: 5%;
  }
}

@media (max-width: 950px) {
  .big-news__description {
    padding: 20px 30px 22px 20px;
    margin-top: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.big-news__text {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 1040px) {
  .big-news__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .big-news__text {
    font-size: 14px;
  }
}

.big-news__title {
  margin-bottom: 20px;
  font-size: 1.5em;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

@media (max-width: 1040px) {
  .big-news__title {
    margin-bottom: 13px;
    font-size: 1.2em;
  }
}

.orange {
  padding: 20px 0;
  background-color: #FC5000;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1F1F1F;
}

.news-list__link:hover .news-list__title {
  color: #FC5000;
}

.news-list__img {
  position: relative;
  max-width: 400px;
  z-index: 2;
  -webkit-clip-path: polygon(96% 0, 100% 7%, 100% 100%, 0% 100%, 0 100%, 0 0);
          clip-path: polygon(96% 0, 100% 7%, 100% 100%, 0% 100%, 0 100%, 0 0);
}

.news-list__description {
  padding: 123px 30px 22px 22px;
  margin-left: auto;
  margin-top: -100px;
  max-width: 400px;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 4% 100%, 0 95%);
          clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 4% 100%, 0 95%);
}

.news-list__title {
  margin-bottom: 22px;
  font-size: 24px;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

@media (max-width: 1024px) {
  .news-list__title {
    font-size: 20px;
  }
}

.main-matches .col {
  padding: 10px;
  margin-bottom: 0;
}

.main-matches__link {
  padding: 16px 2px 10px;
  display: block;
  height: 100%;
  color: #1F2326;
  font-size: 18px;
  background-color: #F8F8F8;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.main-matches__link:hover {
  -webkit-box-shadow: 2px 2px 5px 0px #464646;
          box-shadow: 2px 2px 5px 0px #464646;
}

.main-matches-item {
  -webkit-clip-path: polygon(0 0, 93% 0, 100% 13%, 100% 100%, 8% 100%, 0 89%);
          clip-path: polygon(0 0, 93% 0, 100% 13%, 100% 100%, 8% 100%, 0 89%);
}

.main-matches-item .post-meta {
  padding: 10px 20px;
}

.main-matches-item .post-meta .date {
  font-size: 18px;
  font-weight: 500;
  color: #1F2326;
}

.main-matches-item__top {
  text-align: center;
}

.main-matches-item__tournament {
  font-weight: 500;
}

.main-matches-item__position {
  font-size: 0.7em;
  text-transform: uppercase;
}

.main-matches-item__wrapper {
  padding-bottom: 25px;
  min-height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #1F2326;
}

.main-matches-item__team {
  width: 135px;
  max-width: 135px;
  text-align: center;
}

.main-matches-item__img {
  margin: auto;
  margin-bottom: 16px;
}

.main-matches-item__name {
  font-weight: 500;
}

.main-matches-item__score {
  margin: 0 20px;
  min-width: 47px;
  font-size: 1.33em;
  font-weight: 700;
}

.shop-carousel__item {
  margin-bottom: 0;
  -webkit-clip-path: polygon(0 0, 93% 0, 100% 13%, 100% 100%, 8% 100%, 0 89%);
          clip-path: polygon(0 0, 93% 0, 100% 13%, 100% 100%, 8% 100%, 0 89%);
}

.shop-carousel__link {
  padding: 24px 22px 34px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F8F8F8;
  color: #1F2326;
  text-align: center;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.shop-carousel__link--btn {
  background-image: url("/img/shop-btn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.shop-carousel__link--btn .btn {
  margin-top: auto;
}

.shop-carousel__link:hover {
  color: #FC5000;
}

.shop-carousel__link:hover > .shop-carousel__img {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.shop-carousel__img {
  margin-bottom: 25px;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.shop-carousel__name {
  max-width: 230px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.main-fan {
  padding: 112px 0 100px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.main-fan__wrapper {
  margin: 0 auto;
  max-width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-fan__wrapper .bold {
  margin: 30px 0 17px;
  font-size: 1.33em;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
}

.main-fan__left {
  max-width: 638px;
}

.main-fan__title {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
}

.main-fan__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-fan__links a {
  margin-right: 20px;
}

.matches {
  margin-bottom: 70px;
}

.matches__item {
  margin-bottom: 20px;
}

.matches__item:last-child {
  margin-bottom: 0px;
}

.matches__link {
  padding: 20px 15% 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #1F2326;
  background-color: #fff;
}

.matches__link .post-meta {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.matches__link .post-meta .date {
  margin-top: 15px;
  font-weight: 500;
  color: #1F2326;
}

@media (max-width: 880px) {
  .matches__link {
    padding: 20px 3% 20px 20px;
  }
}

@media (max-width: 570px) {
  .matches__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.matches__versus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.matches__versus .score {
  margin: 0 30px;
  width: 37px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.matches__versus .matches__team:nth-of-type(1) .team-name {
  margin-right: 15px;
}

.matches__versus .matches__team:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.matches__versus .matches__team:nth-of-type(2) .team-name {
  margin-left: 15px;
}

.matches__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.matches__team .team-name {
  max-width: 100px;
}

@media (max-width: 880px) {
  .matches__team .team-name {
    margin: 5px 0 0 !important;
    text-align: center;
  }
}

.matches__team .team-logo {
  width: 40px;
}

@media (max-width: 880px) {
  .matches__team {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
}

.matches__info {
  font-size: 16px;
  font-weight: 500;
}

.matches__info .stage {
  margin-top: 11px;
  font-size: 0.75em;
  text-transform: uppercase;
}

@media (max-width: 880px) {
  .matches__info {
    font-size: 14px;
    text-align: right;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__nav {
  padding: 0;
  border-style: solid;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

.pagination__nav.left {
  margin-right: 20px;
  border-width: 9px 15.6px 9px 0;
  border-color: transparent #fff transparent transparent;
}

.pagination__nav.right {
  margin-left: 20px;
  border-width: 9px 0 9px 15.6px;
  border-color: transparent transparent transparent #fff;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__item {
  margin: 0 7px;
  -webkit-clip-path: polygon(0 0, 79% 0, 100% 13%, 100% 100%, 0% 100%, 0 100%);
          clip-path: polygon(0 0, 79% 0, 100% 13%, 100% 100%, 0% 100%, 0 100%);
}

.pagination__item.active > .pagination__link {
  background-color: #fff;
  color: #1F2326;
}

.pagination__link {
  padding: 15px 17px;
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.pagination__link:hover {
  background-color: #757575;
}

.match-detail {
  position: relative;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #fff;
}

.match-detail .label {
  position: absolute;
}

.match-detail__wrapper {
  margin: 0 auto;
  max-width: 530px;
  font-size: 18px;
  font-weight: 700;
}

.match-detail__title, .match-detail__tournament {
  font-size: 1.33em;
  text-align: center;
}

.match-detail__tournament {
  margin: 10px 0 35px;
}

.match-detail__mid {
  margin: 0 55px;
}

.match-detail__score {
  font-size: 2.33em;
  text-align: center;
}

.match-detail__versus {
  padding-bottom: 38px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #1F2326;
}

.match-detail__team-logo {
  margin: 0 auto 17px auto;
}

.match-detail__players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.match-detail__players .half {
  margin: 0 20px;
}

.match-detail__players li {
  padding: 5px 0;
  max-width: 250px;
  font-size: 12px;
  font-weight: 400;
}

.awards {
  margin-bottom: 40px;
}

.awards__item {
  padding: 15px 35px 15px 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 99% 0, 100% 16%, 100% 100%, 1% 100%, 0 84%);
          clip-path: polygon(0 0, 99% 0, 100% 16%, 100% 100%, 1% 100%, 0 84%);
}

.awards__item:last-child {
  margin-bottom: 0;
}

.awards__item--first {
  padding: 5px 35px 5px 20px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.awards .label {
  max-width: 170px;
  font-size: 18px;
}

.awards__logo {
  margin-right: 30px;
  max-width: 40px;
}

.awards__rate {
  margin: 0 30px;
  width: 57px;
  text-align: center;
}

.awards__rate b {
  font-size: 1.12em;
}

.awards__rate span {
  display: none;
}

.awards__game {
  width: 170px;
  text-align: center;
}

.awards__tournament {
  width: 217px;
}

.awards__place {
  margin: 0 60px;
  width: 165px;
}

@media (max-width: 1024px) {
  .awards__place {
    display: none;
  }
}

.awards__date {
  width: 170px;
}

.awards__money {
  width: 128px;
  margin-left: auto;
}

.sort {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.sort::after {
  content: '';
  margin-left: 5px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.sort.active::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.inner-up {
  padding: 30px 40px 40px;
  margin-bottom: 40px;
  font-size: 18px;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 99% 0, 100% 5%, 100% 100%, 1% 100%, 0 95%);
          clip-path: polygon(0 0, 99% 0, 100% 5%, 100% 100%, 1% 100%, 0 95%);
}

.inner-up h1 {
  margin-bottom: 0;
  margin-left: 24px;
  color: #1F2326;
  font-size: 2.66em;
  text-transform: uppercase;
}

.inner-up__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-up__title img {
  max-width: 60px;
}

.inner-up__text {
  margin-top: 22px;
  max-width: 600px;
  line-height: 28px;
}

.players__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-size: 18px;
  color: #fff;
}

.players__link:hover > .players__img {
  -webkit-box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.4);
          box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.4);
}

.players__role {
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.players__name {
  margin-bottom: 15px;
  font-size: 1.33em;
  font-weight: 700;
}

.players__img {
  min-height: 388px;
  padding-top: 34px;
  height: 100%;
  background-color: #F8F8F8;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.players__img img {
  margin: 0 auto -1px;
}

.players__img.no-photo {
  background-image: url("/img/no-photo-player.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

@media (max-width: 1024px) {
  .players__img {
    min-height: 283px;
  }
}

.tabs-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs-nav__btn {
  padding: 6px 28px;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 600;
  background-color: #8a8a8a;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-clip-path: polygon(0 0, 87% 0, 100% 40%, 100% 100%, 13% 100%, 0 65%);
          clip-path: polygon(0 0, 87% 0, 100% 40%, 100% 100%, 13% 100%, 0 65%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.tabs-nav__btn:hover {
  background-color: #fff;
}

.tabs-nav__btn.active {
  background-color: #fff;
}

@media (max-width: 570px) {
  .tabs-nav__btn {
    padding: 6px 20px;
    margin-right: 20px;
    font-size: 14px;
  }
  .tabs-nav__btn:last-child {
    margin-right: 0;
  }
}

.tabs__content {
  padding: 30px 0;
  display: none;
}

.tabs__content.active {
  display: block;
}

.team-list__item.col {
  padding: 10px;
  margin-bottom: 0px;
}

.team-list__item {
  -webkit-clip-path: polygon(0 0, 93% 0, 100% 18%, 100% 100%, 9% 100%, 0 85%);
          clip-path: polygon(0 0, 93% 0, 100% 18%, 100% 100%, 9% 100%, 0 85%);
}

.team-list__link {
  padding: 25px;
  display: block;
  color: #1F2326;
  background-color: #F8F8F8;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.team-list__link:hover {
  -webkit-box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.4);
          box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.4);
}

.team-list__title {
  font-size: 48px;
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .team-list__title {
    font-size: 33px;
  }
}

.team-list__img {
  margin-bottom: 10px;
}

@media (max-width: 1100px) {
  .team-list__img {
    max-width: 40px;
  }
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__item {
  margin: 0 3% 50px 3%;
  display: block;
}

.partners__item--big {
  margin: 0 0 50px;
  width: 33%;
}

.partners__link {
  display: block;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-filter 0.25s;
  transition: -webkit-filter 0.25s;
  transition: filter 0.25s;
  transition: filter 0.25s, -webkit-filter 0.25s;
}

.partners__link img {
  margin: 0 auto;
}

.partners__link:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__item {
  width: 25%;
}

.social__link {
  margin: 0 auto;
  max-width: 187px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: rgba(59, 89, 152, 0.6);
  border-radius: 50px;
}

.social__link::before {
  content: '';
  margin-right: 18px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}

.footer {
  padding-bottom: 60px;
  font-size: 16px;
  color: #888888;
}

.footer .container {
  max-width: 1080px;
}

.footer__text, .footer__copyright {
  margin-bottom: 16px;
  text-align: center;
}

.footer__text a, .footer__copyright a {
  color: #888888;
  border-bottom: 1px solid;
  -webkit-transition: border-color 0.25s;
  transition: border-color 0.25s;
}

.footer__text a:hover, .footer__copyright a:hover {
  border-color: transparent;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
}

.row--2 > .col {
  width: 50%;
}

.row--3 > .col {
  width: 33.33%;
}

@media (max-width: 768px) {
  .row--3 > .col {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .row--3 > .col {
    width: 100%;
  }
}

.row--4 > .col {
  width: 25%;
}

@media (max-width: 1024px) {
  .row--4 > .col {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .row--4 > .col {
    width: 50%;
  }
}

.row--6 > .col {
  width: 16.66%;
}

.col {
  padding: 0 10px;
  margin-bottom: 40px;
}

.test {
  padding: 50px 0;
}

.test__half {
  max-width: 970px;
}
/*# sourceMappingURL=style.css.map */